#container {
    border: 1px solid black;
    height: 100vh;
    background-color: lightgoldenrodyellow;
}

#toolbar-cover, #toolbar {
    height: 50px;
}

#toolbar-cover:hover div {
    display: block;
}

#toolbar {
    display: none;
    border-bottom: 1px solid black;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Style the label to look like a button or link */
label {
    display: inline-block;
    padding: 8px 15px;
    /*background-color: #007bff;*/
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 1rem;
}

label:hover {
    /*background-color: #0056b3;*/
}


#toggle:checked ~ .dark {
    display: none;
}

#toggle:checked ~ .light {
    display: inline;
}

/* When the checkbox is checked, show div two */
#toggle:checked ~ #container {
    background-color: black;
    color: white;
}

#container:has(input[type="checkbox"]:checked) {
    background-color: black;
}

#toolbar .light {
    display: none;
}


#test-hover {
    border: 1px solid black;
}


#test-hover div {
    display: none;
}