html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#container {
    padding: 0;
    border: 1px solid black;
    height: 100vh;
    background-color: lightgoldenrodyellow;
    overflow: hidden;
}

#toolbar-cover, #toolbar {
    height: 50px;
}

#toolbar-cover:hover div {
    display: block;
}

#toolbar {
    display: none;
    border-bottom: 1px solid black;
}

#center {
    height: calc(100% - 100px);
    border: 1px solid red;
}

#center div {
    float: left;
    height: 100%;
}

#previous, #next {
    width: 100px;
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

#middle {
    border: 1px solid black;
    width: calc(100% - 200px);
    display: flex;
    justify-content: center;
}

#content {
    border: 1px solid black;
    overflow-y: auto;
    scrollbar-width: none;
}

/* this is for previous versions of Chrome, which do not support `scrollbar-width` property*/
#content::-webkit-scrollbar {
    display: none;
}

#footer {
    height: 50px;
    border: 1px solid blue;
    padding: 0;
    margin: auto;
}

input[type=checkbox] {
    width: 0;
    height: 0;
}

/* Style the label to look like a button or link */
label {
    display: inline-block;
    padding: 8px 15px;
    /*background-color: #007bff;*/
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 1rem;
}

label:hover {
    /*background-color: #0056b3;*/
}


#toggle:checked ~ .dark {
    display: none;
}

#toggle:checked ~ .light {
    display: inline;
}

/* When the checkbox is checked, show div two */
#toggle:checked ~ #container {
    background-color: black;
    color: white;
}

#container:has(input[type="checkbox"]:checked) {
    background-color: black;
}

#toolbar .light {
    display: none;
}


#test-hover {
    border: 1px solid black;
}


#test-hover div {
    display: none;
}